* {
  margin: 0;
  box-sizing: border-box;

  scrollbar-width: none;
  scrollbar-color: rgb(36, 64, 73) var(--sidebar-chatroom-bg--);
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: var(--sidebar-chatroom-bg--);
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(36, 64, 73);
  border-radius: 20px;
  border: 3px solid var(--sidebar-chatroom-bg--);
}

:root {
  --empty-space-color--: rgb(28, 30, 31);
  --content-space-color--: rgb(24, 26, 27);

  --nav-min-height--: 60px;
  --nav-height--: 12vh;
  --nav-max-height--: 90px;

  --nav-logo-size--: 2.5rem;
  --nav-title-size--: 2rem;
  --nav-icon-size--: 1.8rem;
  --nav-text-size--: 1.8rem;

  --login-logo-size--: 5rem;
  --login-text-size--: 2rem;

  --notFound-error-size--: 1.2rem;
  --notFound-detail-size--: 1.75rem;

  --success-border--: 1px solid rgba(129, 108, 108, 0.349);
  --success-big-font-size--: 1rem;

  --sidebar-infobar-bg--: rgb(42, 47, 50);
  --sidebar-infobar-pad--: 8px 8px 8px 15px;
  --sidebar-chatroom-bg--: rgb(19, 28, 33);
  --sidebar-chat-bg--: rgb(14, 21, 25);
  --sidebar-room-font--: 17px;
  --sidebar-message-font--: 14px;

  --chatInfo-title-font-size--: 32px;
  --chatInfo-text-font-size--: 14px;

  --chat-infobar-bg--: rgb(42, 47, 50);
  --chat-infobar-pad--: 8px 8px 8px 15px;
  --chat-sender-bg--: rgb(66, 75, 80);
  --chat-receiver-bg--: rgb(5, 71, 64);
}


.app {
  font-size: 16px;
  height: 100vh;
  width: 100vw;
}

.app__header {
  background-color: var(--content-space-color--);
}

.app__header > .layout {
  padding: 0 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.app__body {
  background-color: var(--empty-space-color--);
  height: calc(100vh - var(--nav-height--));

  color: lavender;
}
.app__body > .page {
  height: 100%;
  padding: 0 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.app .google-btn {
  padding: 5px 15px;
  text-transform: inherit !important;
  background-color: #0fa1b4;
  color: white;
  border-radius: 5px;
}
.app .google-btn:hover {
  transition: all 0.8s ease;
  color: lavender;
  background-color: rgb(84, 82, 219);
}

.app .google-btn.disabled {
  background-color: rgb(62, 55, 70);
  color: rgb(141, 130, 148);
}
.app .google-btn.disabled {
  cursor: not-allowed;
}
