.login__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.login__container * {
  transition: all 0.4s ease;
}

.login__container > i {
  font-size: var(--login-logo-size--);
  color: lightblue;
  padding-bottom: 30px;
  object-fit: contain; /*keep aspect ratio */
}

.login__container > p {
  font-size: var(--login-text-size--);
  padding-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .login__container > i {
    font-size: calc(0.8 * var(--login-logo-size--));
  }
  .login__container > p {
    font-size: calc(0.7 * var(--login-text-size--));
  }
}
