.chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;

  color: lavender;
  /* min-height: 0; */
  min-width: 0;
}
.chat__header {
  background-color: var(--sidebar-infobar-bg--);
  padding: var(--chat-infobar-pad--);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}

.chat__headerLeft {
  display: flex;
  align-items: center;
  overflow: hidden;
  min-width: 0;
}

.chat__headerLeft > .info {
  display: flex;
  flex-direction: column;
}

.chat__headerLeft > .MuiAvatar-root {
  margin-right: 10px;
}

.chat__headerRight > .MuiIconButton-root {
  color: lightblue;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-right: 8px;
}
.chat__headerLeft > .info > .lastSeen {
  font-size: small;
}

.chat__headerLeft .info {
  font-size: var(--sidebar-room-font--);
  white-space: nowrap;
  text-overflow: ellipsis;

  min-width: 0;
  overflow: hidden;
  width: 85%;
}

.chat__headerRight {
  display: flex;
  justify-content: space-between;
}

.chat__body {
  background-image: url("https://i.ibb.co/gdkDjBb/pexels-elijah-o-donnell-3473569.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;

  padding: 0 15px;
  color: lavender;
  display: flex;

  flex: 1;
  /* overflow-x: hidden; */
  overflow-y: auto;
  /* scrollbar-initial-position */
  flex-direction: column;
}

.chat__message {
  position: relative;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 12px;
  background-color: var(--chat-sender-bg--);
  border-radius: 8px;
  width: fit-content;
  margin-top: 20px;
  font-weight: 500;

  display: flex;
  white-space: normal;
  word-break: break-word;
}

.chat__receiver {
  margin-left: auto;
  background-color: var(--chat-receiver-bg--);
}

.chat__name {
  position: absolute;
  top: -15px;
  font-size: xx-small;
  font-weight: 700;
  color: lightblue;
}

.chat__timestamp {
  font-size: x-small;
  margin-left: 12px;
  color: lightgray;
  align-self: flex-end;
}

.chat__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  border-top: var(--success-border--);
}

.chat__footer > .MuiSvgIcon-root {
  margin: 10px 15px;
  color: gray;
}

.chat__footer > form {
  display: flex;
  flex: 1;
}

.chat__footer > form > input {
  flex: 1;
  border-radius: 20px;
  margin: 5px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: var(--chat-infobar-bg--);
  color: rgb(176, 215, 228);
}

.chat__footer > form > button {
  display: none;
}
