.eachRoom {
  padding: 15px 20px;
  border-bottom: var(--success-border--);
  display: flex;
  min-width: 0;
  align-items: center;
}
.eachRoom:hover{
  cursor: pointer;
}
.eachRoom > .MuiSvgIcon-root {
  height: 40px;
  width: 40px;
  margin-right: 15px;
}
.eachRoom > p{
  font-size: var(--sidebar-room-font--);
}

.eachRoom__avatar {
  margin-right: 15px;
}

.eachRoom__textInfo {
  display: flex;
  min-width: 0;
  flex: 1;
  flex-direction: column;
}

.eachRoom__textInfo > .upperTextInfo {
  display: flex;
  min-width: 0;
  justify-content: space-between;
  align-items: center;
  font-size: var(--sidebar-room-font--);
}

.eachRoom__textInfo > .upperTextInfo > .roomName {
  white-space: nowrap;
  text-overflow: ellipsis;

  min-width: 0;
  overflow: hidden;
  width: 80%;
}
.eachRoom__textInfo > .upperTextInfo > .date {
  font-size: xx-small;
  color: lightgray;
}

.eachRoom__textInfo > .lowerTextInfo {
  font-size: var(--sidebar-message-font--);
  color: gray;
}
