.snackerFlex {
  display: flex;
  flex-direction: column;
  color: lavender;
  font-size: 0.8rem;
  line-height: 28px;
}
.MuiSnackbarContent-message {
  width: 90%;
}
.MuiSnackbarContent-action {
  width: 10%;
}

.width {
  min-width: 50px;
  flex: 1;
}

.spanInfo{
  color: rgb(123, 212, 241);
  font-size: 1rem;
  flex: 3;
}

.MuiPaper-root {
  width: 400px;
}