.chatInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  text-align: center;
  font-size: var(--chatInfo-text-font-size--);
  color: gray;
}

.chatInfo > .avatar {
  height: 220px;
  width: 220px;
  margin-bottom: 20px;
}

.chatInfo > .title {
  font-size: var(--chatInfo-title-font-size--);
  color: lightgray;
  margin-bottom: 20px;
  transition: font-size 0.3s ease;
}

.chatInfo > .text {
  padding: 0 20px 20px 20px;
  border-bottom: var(--success-border--);
}

.chatInfo > .downloads {
  margin-top: 20px;
}

.chatInfo .downloads-span {
  margin-left: 8px;
}

.chatInfo .downloads-link {
  margin-left: 5px;
  text-decoration: none;
  color: rgb(11, 139, 126);
}

@media screen and (max-width: 740px) {
  .chatInfo > .title {
    font-size: calc(0.8 * var(--chatInfo-title-font-size--));
  }
  .chatInfo > .text {
    font-size: calc(0.9 * var(--chatInfo-text-font-size--));
  }
}
@media screen and (max-width: 640px) {
  .chatInfo > .title {
    font-size: calc(0.7 * var(--chatInfo-title-font-size--));
  }
}
